body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #343a40;
}

.navbar-brand {
    font-weight: bold;
}

.container {
    margin-top: 20px;
}

h2, h3 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.table {
    margin-top: 20px;
}

.btn {
    margin-top: 10px;
}

.form-group {
    margin-bottom: 15px;
}

.form-check-label {
    margin-left: 5px;
}
